{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light nav-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_accueil') }}">
                <i class="fa-solid fa-martini-glass-citrus fa-shake"></i>Sortir.com</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>

            </div>
        </div>
    </nav>
    <div class="form-custom">
        <h1>Mot de passe oublié</h1>
        {{ form_start(emailForm) }}
        {{ form_label(emailForm.email) }}
        {{ form_widget(emailForm.email,
            {'label':'Email :' ,'attr':{'placeholder': 'Saisissez votre email',
                'class': "form-control"}}) }}
        {{ form_errors(emailForm.email) }}

        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Réinitialiser le mot de passe
        </button>
        {{ form_end(emailForm) }}
    </div>
{% endblock %}
