{% extends 'base.html.twig' %}

{% block title %}Modification Profil{% endblock %}

{% block body %}
    <div class="form-custom">
        <h1 class="title-form-custom">Votre profil</h1>

        {{ form_start(formModifProfil) }}

        <div>
            {{ form_row(formModifProfil.pseudo,{'attr':{'value':user.pseudo, 'class': "form-control"}}) }}
        </div>
        <div>
            {{ form_row(formModifProfil.prenom,{'attr':{'value':user.prenom, 'class': "form-control"}}) }}
        </div>
        <div>
            {{ form_row(formModifProfil.nom,{'attr':{'value':user.nom, 'class': "form-control"}}) }}
        </div>
        <div>
            {{ form_row(formModifProfil.email,{'attr':{'value':user.email, 'class': "form-control"}}) }}
        </div>
        <div>
            {{ form_row(formModifProfil.telephone,{'attr':{'value':user.telephone, 'class': "form-control"}}) }}
        </div>

        <div class="input-file-custom">
            {{ form_row(formModifProfil.photo,{'attr':{'value':user.UrlPhoto, 'class': "input-file-custom"}}) }}
        </div>

        <div>
            {{ form_row(formModifProfil.oldPassword,{'attr': {'class': "form-control"}}) }}
        </div>
        <div>
            {{ form_row(formModifProfil.password,{'attr': {'class': "form-control"}}) }}
        </div>
        <div>
            {{ form_row(formModifProfil.confirm_password, {'attr': {'class': "form-control"}}) }}
            <div class="error-modif-mdp">
                <strong>
                    {% if errors is not null %}
                        {% for error in errors %}

                            {{ error }}<br>
                        {% endfor %}
                    {% endif %}
                </strong>
            </div>
        </div>
        <div class="button-group-custom">
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            <a class="btn btn-primary" href="{{ path('app_profil_afficher',{id:user.id}) }}">
                Annuler les modifications
            </a>
        </div>
        {{ form_end(formModifProfil) }}
    </div>

{% endblock %}
