{% extends 'base.html.twig' %}

{% block title %}Modification Profil{% endblock %}

{% block body %}

    <div class="col-4 offset-4">
        <h1>Profil</h1>

        {{ form_start(formModifProfil) }}

        <div class="group1 mb-3">
            {{ form_row(formModifProfil.pseudo,{'attr':{'value':user.pseudo}}) }}
        </div>
        <div class="group1 mb-3">
            {{ form_row(formModifProfil.prenom,{'attr':{'value':user.prenom}}) }}
        </div>
        <div class="group2 mb-3">
            {{ form_row(formModifProfil.nom,{'attr':{'value':user.nom}}) }}
        </div>
        <div class="group2 mb-3">
            {{ form_row(formModifProfil.email,{'attr':{'value':user.email}}) }}
        </div>
        <div class="group2 mb-3">
            {{ form_row(formModifProfil.telephone,{'attr':{'value':user.telephone}}) }}
        </div>
        <div class="group2 mb-3">
            {{ form_row(formModifProfil.oldPassword,) }}
        </div>
        <div class="group2 mb-3">
            {{ form_row(formModifProfil.password,) }}
        </div>
        <div class="group2 mb-3">
            {{ form_row(formModifProfil.confirm_password) }}
            {% if errors %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="button mb-3 row">
            {{ form_label(formModifProfil.enregistrer) }}
            {{ form_widget(formModifProfil.enregistrer) }}
        </div>
        <div class="cancel">
            <a href="{{ path('app_profil_afficher',{'id':user.id}) }}" class="btn btn-warning">Annuler les
                modifications</a>
        </div>
        {{ form_end(formModifProfil) }}
    </div>




{% endblock %}
