{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="profil">

        <div class="pseudo">
            <h3>{{ user.pseudo }}</h3>
        </div>

        <div class="corps">
            <div class="element mt-4">
                <ul>
                    <li>Prénom :</li>
                    <li>Nom :</li>

                    {% if app.user.id == user.id %}
                        <li>Téléphone :</li>
                    {% endif %}
                    <li>Email :</li>
                    <li>Ville de rattachement :</li>
                </ul>


                <ul>
                    <li>{{ user.prenom }}</li>
                    <li>{{ user.nom }}</li>
                    {% if app.user.id == user.id %}
                        <li>{{ user.telephone }}</li>
                    {% endif %}
                    <li>{{ user.email }}</li>
                    <li>{{ user.site.nom }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boutton">
        <a href="{{ path('app_accueil') }}">
            <button class="btn btn-secondary">Retour</button>
        </a>
        {% if app.user.id == user.id %}
            <a href="{{ path('app_profil_modifier') }}" class="btn btn-secondary">Modifier mon profil</a>
        {% endif %}
    </div>

{% endblock %}
