{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="profil">
        <div class="titre row">
            <div class="col-2 offset-3">
                <h3>{{ user.pseudo }}</h3>
            </div>
        </div>
        <div class="corps row">
            <div class="left col-2 offset-2">
                <ul>
                    <li>Prénom :</li>
                    <li>Nom :</li>
                    <li>Téléphone :</li>
                    <li>Email :</li>
                    <li>Ville de rattachement :</li>
                </ul>
            </div>
            <div class="right col-4">
                <ul>
                    <li>{{ user.prenom }}</li>
                    <li>{{ user.nom }}</li>
                    <li>{{ user.telephone }}</li>
                    <li>{{ user.email }}</li>
                    <li>{{ user.site.nom }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boutton">
        <a href="#">
            <button class="btn btn-secondary">Retour</button>
        </a>
        {% if app.user.id == user.id %}
            <a href="{{ path('app_profil_modifier') }}">
                <button type="submit" class="btn btn-secondary">Modifier mon profil</button>
            </a>
        {% endif %}
    </div>

{% endblock %}
