{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}



    <head>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 300px;

                margin: auto;
                text-align: center;

            }


            .title {
                color: grey;
                font-size: 18px;
            }

            button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 8px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
            }

            .card a {
                text-decoration: none;
                font-size: 22px;
                color: black;
            }

            button:hover, a:hover {
                opacity: 0.7;
            }
        </style>
    </head>
    <body>


    <div class="boutton mt-5">

    </div>

    <div class="card">

        {% if user.UrlPhoto and app.user.id == user.id %}

            <img src="/uploads{{ asset(user.UrlPhoto) }}" alt="AvatarUser" width="100%" class="">

        {% else %}

            <img src="{{ asset('img/profil.png') }}" alt="AvatarDefault" width="100%" class="">

        {% endif %}

        <h1>{{ user.pseudo }}</h1>
        <p class="title">Prénom : {{ user.prenom }}</p>
        <p class="title">Nom : {{ user.nom }}</p>
        {% if app.user.id == user.id %}
            <p class="title">Téléphone : {{ user.telephone }}</p>
            <p class="title">Email : {{ user.email }}</p>
        {% endif %}
        <p>{{ user.site.nom }}</p>

        <div style="margin: 24px 0;">

            <a href="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c8/Twitter_Bird.svg/1200px-Twitter_Bird.svg.png"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.coursinfo.fr/wp-content/uploads/2016/04/facebook-logo.jpg"><i class="fa fa-facebook"></i></a>
        </div>
        {% if app.user.id == user.id %}
            <p>
                <a href="{{ path('app_profil_modifier') }}">
                    <button>Modifier Profil</button>
                </a>

            </p>
        {% endif %}
        <p>
            <a href="{{ path('app_accueil') }}">
                <button>Retour</button>
            </a>
        </p>


    </div>

    </body>




{% endblock %}
