{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="first row">
        <div class="col-3 offset-9 mt-4">
            <table class="utilisateur">
                <tr>
                    {% if app.user.UrlPhoto %}
                        <th>
                            <div class="photoaccueil">
                                <img src="/uploads{{ asset(app.user.UrlPhoto) }}" alt="AvatarUser"
                                     width="100%" class="">
                            </div>
                            <h4>{{ app.user.pseudo }}</h4>
                        </th>

                    {% else %}

                        <th>
                            <div class="photoaccueil">
                                <img src="{{ asset('img/profil.png') }}" alt="AvatarDefault"
                                     width="100%" class="">
                            </div>

                            <h3 class="pseudo-accueil">{{ app.user.pseudo }}</h3>
                        </th>

                    {% endif %}
                </tr>
            </table>
        </div>
    </div>

    {{ form_start(formFiltres) }}

    <div class="filtres mb-5">
        <h4>Filtrer les sorties</h4>
        <hr>
        <div class="row">
            <div class="input-filtre row col-xl-12 col-sm-6 mb-4">
                <div class="champs col-xl-3  site-input">
                    {{ form_label(formFiltres.site) }}
                    <br>
                    {{ form_widget(formFiltres.site) }}
                </div>
                <div class="champs  col-xl-3  ">
                    {{ form_label(formFiltres.motCles) }}
                    <br>
                    {{ form_widget(formFiltres.motCles) }}
                </div>
                <div class="champs  col-xl-3  ">
                    {{ form_label(formFiltres.dateDebut) }}
                    <br>
                    {{ form_widget(formFiltres.dateDebut) }}
                </div>
                <div class="champs  col-xl-3  ">
                    {{ form_label(formFiltres.dateFin) }}
                    <br>
                    {{ form_widget(formFiltres.dateFin) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-sm-6 checkbox-group">
                <div class="row">
                    <div class="champs col-xl-6">
                        <div class="check-box-width">
                            {{ form_widget(formFiltres.orga, {'id': 'orga'}) }}
                            {{ form_label(formFiltres.orga) }}
                        </div>
                        <div class="check-box-width">
                            {{ form_widget(formFiltres.inscrit, {'id': 'inscrit'}) }}
                            {{ form_label(formFiltres.inscrit) }}
                        </div>
                    </div>
                    <div class="champs col-xl-6">
                        <div class="check-box-width">
                            {{ form_widget(formFiltres.pasInscrit, {'id': 'pasInscrit'}) }}
                            {{ form_label(formFiltres.pasInscrit) }}
                        </div>
                        <div class="check-box-width">
                            {{ form_widget(formFiltres.passees, {'id': 'passees'}) }}
                            {{ form_label(formFiltres.passees) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bouton col-xl-4">
                <div class="col-xl-4 offset-xl-4 mt-2" style="">
                    <button class="btn-lg pt-1 pb-2 mt-2 filtre-button" type="submit">Rechercher</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formFiltres) }}
    <div class="affichage">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Cloture des inscriptions</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if sorties != null %}

                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateDebut | date('d/m/Y') }} à {{ sortie.dateDebut | date('H:i') }}</td>
                        <td>{{ sortie.dateFinInscription | date('d/m/Y') }}</td>
                        <td>{{ sortie.inscrit.count }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% for user in sortie.inscrit %}
                                {% if app.user.id == user.id %}
                                    <i class="fa-solid fa-check" title="Inscrit"></i>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('app_profil_afficher', {'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>
                        <td>
                            {% if app.user.id != sortie.organisateur.id and sortie.etat.id != 1 %}
                                <a href="{{ path('app_afficher_sortie', {'id':sortie.id}) }}"><i class="fa-solid fa-eye"
                                                                                                 title="Afficher"></i></a>
                            {% endif %}
                            {% if app.user.id == sortie.organisateur.id and sortie.etat.id < 4 %}
                                <a href="{{ path('app_afficher_sortie', {'id':sortie.id}) }}"><i class="fa-solid fa-eye"
                                                                                                 title="Afficher"></i></a>
                                <a href="{{ path('app_afficher_sortie_modifier', {'id':sortie.id}) }}"><i
                                            class="fa-solid fa-pen-to-square" title="Modifier"></i></a>
                            {% endif %}
                            {% if app.user.id == sortie.organisateur.id and sortie.etat.id == 1 %}
                                <a href="{{ path('app_afficher_sortie_publier', {'id':sortie.id}) }}"><i
                                            class="fa-solid fa-bookmark" title="Publier"></i></a>
                            {% endif %}
                            {% set ok = true %}
                            {% for user in sortie.inscrit %}
                                {% if app.user.id == user.id and app.user.id != sortie.organisateur.id %}
                                    <a href="{{ path('app_afficher_sortie_desister', {'id':sortie.id}) }}">
                                        <i class="fa-solid fa-person-running" title="Désister"></i></a>
                                    {% set ok = false %}
                                {% endif %}
                            {% endfor %}
                            {% if ok == true and app.user.id != sortie.organisateur.id and sortie.etat.id == 2 %}
                                <a href="{{ path('app_afficher_sortie_inscription', {'id':sortie.id}) }}"><i
                                            class="fa-solid fa-list-check" title="S'inscrire"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% if sorties == null %}
            <h4>Aucune sortie ne correspond à votre recherche !</h4>
        {% endif %}
    </div>
    <div class="bouton mt-4 col-sm-3 mb-5">
        <a class="btn btn-primary btn-lg" href="{{ path('app_sortie_creation') }}">Proposer une sortie</a>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('js/accueilScript.js') }}"></script>
{% endblock %}