{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="first row">
        <div class="col-3 offset-9 mt-4">
            <table class="utilisateur">
                <tr>


                    {% if app.user.UrlPhoto %}


                        <th>


                            <div class="photoaccueil">
                                <img src="/uploads{{ asset(app.user.UrlPhoto) }}" alt="AvatarUser"
                                     width="100%" class="">
                            </div>

                            <h4>{{ app.user.pseudo }}</h4>
                        </th>

                    {% else %}

                        <th>
                            <div class="photoaccueil">
                                <img src="{{ asset('img/profil.png') }}" alt="AvatarDefault"
                                     width="100%" class="">
                            </div>

                            <h3>{{ app.user.pseudo }}</h3>
                        </th>

                    {% endif %}


                </tr>
            </table>
        </div>

    </div>
    <h4>Filtrer les sorties</h4>
    {{ form_start(formFiltres) }}
    <div class=" filtres row mb-5">

        <div class=" left col-xl-4   ">

            <div class="champs ">
                {{ form_label(formFiltres.site) }}
                {{ form_widget(formFiltres.site) }}
            </div>
            <div class="champs">
                {{ form_label(formFiltres.motCles) }}
                {{ form_widget(formFiltres.motCles) }}
            </div>
            <div class="champs">
                {{ form_label(formFiltres.dateDebut) }}
                {{ form_widget(formFiltres.dateDebut) }}
            </div>
            <div class="champs">
                {{ form_label(formFiltres.dateFin) }}
                {{ form_widget(formFiltres.dateFin) }}
            </div>
        </div>

        <div class="middle col-xl-4 offset-xl-1  ">
            <div class="champs">
                {{ form_widget(formFiltres.orga) }}
                {{ form_label(formFiltres.orga) }}
            </div>
            <div class="champs">
                {{ form_widget(formFiltres.inscrit) }}
                {{ form_label(formFiltres.inscrit) }}
            </div>
            <div class="champs">
                {{ form_widget(formFiltres.pasInscrit) }}
                {{ form_label(formFiltres.pasInscrit) }}
            </div>
            <div class="champs">
                {{ form_widget(formFiltres.passees) }}
                {{ form_label(formFiltres.passees) }}
            </div>
        </div>
        <div class="right col-xl-2 offset-xl-1">
            <div class="bouton">
                <button class="btn btn-primary btn-lg" type="submit">Rechercher</button>
            </div>
        </div>

    </div>
    {{ form_end(formFiltres) }}
    <div class="affichage">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Cloture des inscriptions</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if sorties != null %}
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateDebut | date('d/m/Y') }} à {{ sortie.dateDebut | date('H:i') }}</td>
                        <td>{{ sortie.dateFinInscription | date('d/m/Y') }}</td>
                        <td>{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% for user in sortie.inscrit %}
                                {% if app.user.id == user.id %}
                                    X
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('app_profil_afficher', {'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>
                        <td>
                            {% if app.user.id != sortie.organisateur.id or sortie.etat.id != 1 %}
                                <a href="{{ path('app_afficher_sortie', {'id':sortie.id}) }}">Afficher</a>
                            {% endif %}
                            {% if app.user.id == sortie.organisateur.id and sortie.etat.id == 1 %}
                                <a href="{{ path('app_afficher_sortie', {'id':sortie.id}) }}">Afficher</a>
                                <a href="#">Modifier</a>
                                <a href="{{ path('app_afficher_sortie_publier', {'id':sortie.id}) }}">Publier</a>
                            {% endif %}
                            {% set ok = true %}
                            {% for user in sortie.inscrit %}
                                {% if app.user.id == user.id and app.user.id != sortie.organisateur.id %}
                                    <a href="{{ path('app_afficher_sortie_desister', {'id':sortie.id}) }}">Se
                                        désister</a>
                                    {% set ok = false %}
                                {% endif %}
                            {% endfor %}
                            {% if ok == true and app.user.id != sortie.organisateur.id and sortie.etat.id == 2 %}
                                <a href="{{ path('app_afficher_sortie_inscription', {'id':sortie.id}) }}">S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h4>Aucune sortie ne correspond à votre recherche !</h4>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="bouton mt-4 col-sm-3 ">
        <a class="btn btn-primary btn-lg" href="{{ path('app_sortie_creation') }}">Proposer une sortie</a>
    </div>
{% endblock %}
