{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(formSortie) }}
    <div>
        {{ form_row(formSortie.nom) }}
        {{ form_errors(formSortie.nom) }}
    </div>
    <div>
        {{ form_row(formSortie.dateDebut) }}
        {{ form_errors(formSortie.dateDebut) }}
    </div>
    <div>
        {{ form_row(formSortie.dateFinInscription) }}
        {{ form_errors(formSortie.dateFinInscription) }}
    </div>
    <div>
        {{ form_row(formSortie.duree) }}
        {{ form_errors(formSortie.duree) }}
    </div>
    <div>
        {{ form_row(formSortie.nbInscriptionsMax) }}
        {{ form_errors(formSortie.nbInscriptionsMax) }}
    </div>
    <div>
        {{ form_row(formSortie.description) }}
        {{ form_errors(formSortie.description) }}
    </div>
    <div>
        {{ form_row(formSortie.siteOrganisateur,{'attr':{'value':app.user.site.libelle}}) }}
        {{ form_errors(formSortie.siteOrganisateur) }}
    </div>
    <div>
        {{ form_row(formSortie.ville) }}
        {{ form_errors(formSortie.ville) }}
    </div>
    <div>
        {{ form_row(formSortie.lieu) }}
        {{ form_errors(formSortie.lieu) }}
    </div>
    <div>
        {{ form_row(formSortie.rue) }}
        {{ form_errors(formSortie.rue) }}
    </div>
    <div>
        {{ form_row(formSortie.codePostal) }}
        {{ form_errors(formSortie.codePostal) }}
    </div>
    {{ form_end(formSortie) }}

</div>
{% endblock %}
