{% extends 'base.html.twig' %}

{% block title %}Création sortie{% endblock %}

{% block body %}

    {{ form_start(formSortie) }}
    <div>
        {{ form_row(formSortie.nom) }}
        {{ form_errors(formSortie.nom) }}
    </div>
    <div>
        {{ form_row(formSortie.dateDebut) }}
        {{ form_errors(formSortie.dateDebut) }}
    </div>
    <div>
        {{ form_row(formSortie.dateFinInscription) }}
        {{ form_errors(formSortie.dateFinInscription) }}
    </div>
    <div>
        {{ form_row(formSortie.duree) }}
        {{ form_errors(formSortie.duree) }}
    </div>
    <div>
        {{ form_row(formSortie.nbInscriptionsMax) }}
        {{ form_errors(formSortie.nbInscriptionsMax) }}
    </div>
    <div>
        {{ form_row(formSortie.description) }}
        {{ form_errors(formSortie.description) }}
    </div>
    <div>
        {{ form_row(formSortie.siteOrganisateur) }}
        {{ form_errors(formSortie.siteOrganisateur) }}
    </div>
    <div>
        {{ form_row(formSortie.ville) }}
        {{ form_errors(formSortie.ville) }}
    </div>
{#    <div>#}
{#        {{ form_row(formSortie.lieu) }}#}
{#        {{ form_errors(formSortie.lieu) }}#}
{#    </div>#}
    {{ form_end(formSortie) }}

{% endblock %}
