<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sortie -- {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {% endblock %}


</head>
<body>
<div class="container">
    <header>
        {% if app.user %}
        <div class="navbar" style="background-color: #dcba8a;" >
            <nav class="navbar-expand-lg navbar-light">

                <a class="navbar-brand logo" href="{{ path('app_accueil') }}">
                    <img src="{{ asset('/img/logo.png') }}" alt="Symfony"/>
                    SORTIR.com
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="libelle collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ path('app_profil_afficher', {id:app.user.id}) }}">Villes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_profil_afficher', {id:app.user.id}) }}">Sites</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_sortie_creation') }}">Proposer une sortie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Créer participant</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin') }}">Espace Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_profil_afficher', {id:app.user.id}) }}">Mon
                                    profil
                                    ({{ app.user.pseudo }})
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_sortie_creation') }}">Proposer une sortie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_profil_afficher', {id:app.user.id}) }}">Mon
                                    profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {% endif %}
    </header>
    {% block body %}

    {% endblock %}
</div>
</body>
</html>
